.intro{
    margin-right: 0px;
    color: red;
    
    
}

.heh{
    
    height: 800px;
    background-color: aqua
}
.nav-inline{
    
}
.item-space{
    margin-left: 35px;
}
.item-space-end{
    
    margin-left: 300px;
}